h1{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: white;
}
.categ{
    text-align: center;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
body{
     /* background: linear-gradient(to right,#79CBCA);       */
     background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/HPWsSXb4xiwrj8lkx/videoblocks-tropical-beach-background-loop_bhjouqunm_thumbnail-full01.png");
     background-repeat: no-repeat;
    
}
    
.links{
 
    margin-right: 50px;
}
p{
    font-size:x-large;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: white;
}
nav {
    padding-top: 5px;
    padding-bottom: 5px;
}
.navright{
    margin-left: 50px;
    transition: all .4s cubic-bezier(0.645, 0.045, 0.355, 1);

    
}

nav a{
    color: white;
    text-decoration: none;
    transition: all .4s cubic-bezier(0.645, 0.045, 0.355, 1);
}
nav a:hover{
    text-decoration: none;
    background-color: lightgreen;
    color: white;
}
#profile{
    margin-left:10%;
}
#sign{
    margin-left:300px;
}

.center{
    text-align: center;
}
.img{
    text-align: center;
}
.post{
    padding-left: 350px;
}